terratowns_endpoint="https://terratowns.cloud/api"

muonline = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/muonline"
  content_version = 2 
}
pancitcanton = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/pancitcanton"
  content_version = 1 
}
